[submodule "lib/LuaBridge3"]
	path = lib/LuaBridge3
	url = https://github.com/kunitoki/LuaBridge3.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/kelson8/lua.git
[submodule "lib/cryptopp"]
	path = lib/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "lib/serial"]
	path = lib/serial
	url = https://github.com/kelson8/serialib.git
[submodule "lib/cmake-version-tracking"]
	path = lib/cmake-version-tracking
	url = https://github.com/andrew-hardin/cmake-git-version-tracking.git
[submodule "lib/inih"]
	path = lib/inih
	url = https://github.com/benhoyt/inih.git
